# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Airflow outputs
airflow/data/output/
airflow/logs/

# IDE/editor files
.vscode/
.idea/
*.swp
# Python virtual environments
.venv/
venv/
venvy/
.cache/
.pytest_cache/
artifacts/
airflow/output/
airflow/logs/
airflow_db/
airflow_home/
*.zip
*.tar.gz
*.pyc
*.pkl
node_modules/
.DS_Store
myenv/


# Docker
*.env
.env:Zone.Identifier

