# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Airflow outputs
airflow/data/output/
airflow/logs/

# IDE/editor files
.vscode/
.idea/
*.swp
# Python virtual environments
.venv/
venv/
venvy/
myenv/


# Docker
*.env
.env:Zone.Identifier

